@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  letter-spacing: 0;
  white-space: normal;
  word-break: break-all;
  object-fit: contain;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: var(--font-black);
}
p {
  line-height: 1.5;
  font-size: var(--p);
  color: var(--font-black);
}
:root {
  --main: #82BCDB;
  --sub-color: #eab64d;
  
  --alert-green: #31a215;
  --alert-amber: #ef8523;
  --alert-red: #f14646;

  --font-main: #558C99;
  --font-black: #3D4A59;
  --font-gray: #6D7A89;
  --font-light-gray: #b4b4b4;

  --bg-gray: #D8DEDE;
  --bg-light :#E9F3F3;

  --pure-white: #ffffff;
  --line-black: #777777;
  --line-gray: #e8e8e8;

  --bold: 700;
  --medium: 500;
  --light: 200;


  --h1: 1.5rem;
  --h2:1.375rem;
  --h3:1.25rem;
  --h4:1.125rem;
  --p: 1rem;
  --sub:0.875rem;
}

a,
input,
button,
select,
textarea {
  text-decoration: none;
  outline-style: none;
  color: inherit;
  border: none;
  background-color: var(--pure-white);
}
button {
  cursor: pointer;
}

input,
textarea {
  padding: 8px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--line-gray);
  border-radius: 6px;
  resize: none;
  accent-color: var(--main);
}
input:disabled {
  background-color: #eee;
  color: var(--font-light-gray);
}

input:focus,
textarea:focus {
  filter: drop-shadow(0px 0px 2px var(--main));
  color: var(--font-main);
}
a.active {
  color: var(--main);
}

.bold {
  font-weight: var(--bold);
}

.visually-none {
  display: none;
}